{{#if displayPopup }}
    {{#if numOpenGoals}}
        <div id="dialog" title="Open Goals">
            <p>Welcome back {{name}}.</p>
            <p> You have {{numOpenGoals}} open goal(s). {{{ randomEncouragement }}}</p>
        </div>
    {{/if}}
{{/if}}