<table class="ui celled table" id="goal-table">
    <thead>
    {{> goals-header-trainer }}
    </thead>
    <tbody>
    {{#each goals }}
        {{> goals-row-trainer }}
    {{/each}}
    </tbody>
</table>