{{#if error}}
    <div id="dialog-message" title="Login error">
        <p> There has been an error logging in. </p>
        <br>
        <p>Please check credentials and try again! </p>
    </div>
{{/if}}