<section class="ui grid raised segment middle aligned">
    <section class="two wide column">
        <i class="user plus icon big blue"></i>
    </section>
    <section class="thirteen wide column">
        <a href="/member/{{id}}" class=""ui icon button>
            <span class="ui text large">{{name}}</span>
        </a>
        <br>
        <span>{{checkAssessmentCount numassessments}}</span>
    </section>
    <section class="one wide column">
        <a href="/deletemember/{{id}}" >
            <i class="trash alternate icon red big"></i>
        </a>
    </section>
</section>