<!--<section class="eight wide column">-->
<!--    <img src="/images/seticon.jpg" class="ui big image column" alt="">-->
<!--</section>-->

<div class="column">
    <img class="ui big image column" src="/images/seticon.jpg">
</div>