{{#if error}}
    <div id="dialog-message" title="Signup error">
        <p> There has been an error signing up. </p>
        <br>
        <p>This email address is already in use. Please try another! </p>
    </div>
{{/if}}