{{> menu id="dashboard"}}

<section class="ui segment" >
    {{> divider-analytics }}
    {{> analytics }}
    <br>

    {{> divider-goals }}
    {{> show-hide-chart }}
    {{> addgoal }}
    {{> show-hide-goals }}
    {{> goal-table }}
    <br>

    {{> divider-assessments }}
    {{> addassessment }}
    {{> show-hide-assessments }}
    {{> assessment-table }}
</section>


{{> goals-popup }}
{{> calendar }}



