{{> welcomemenu id="login"}}

<section class="ui center aligned middle aligned segment">
    <div class=" ui container">
        <h2>Member Benefits</h2>
        {{> carousel }}
        <h3>So what are you waiting for? <a id="signup" class="item" href="/signup"> Sign Up </a> now!</h3>
    </div>
</section>