{{> trainermenu id="dashboard"}}

<section class="ui segment">
    {{> divider-analytics }}
    {{> analytics }}
    <br>

    {{> divider-goals }}
    {{> addgoal-trainer }}
    {{> show-hide-goals }}
    {{> goal-table-trainer }}
</section>

<section class="ui segment">
    {{> divider-assessments }}
    {{> assessment-table-comment }}
</section>

